@import "global";

.home .site {
    overflow: hidden;
}

section {
    &#hero {
        position: relative;

        > div {
            // background-image: url(../images/homepage/hero-banner.jpg); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 800px;
            max-height: calc(100vh - 150px);
            padding-top: 100px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -1;

            @include opacity(0);
            @include transition(0.8s);
            visibility: hidden;

            .content {
                max-width: 400px;
                @include opacity(0);
                // @include transition(1s);
                transition: none;
                transition-delay: 0;
                visibility: hidden;
                position: relative;

                p {margin-bottom: 0;}
                .btn {margin-top: 20px;}
            }

            &.active {
                position: relative;
                z-index: 1;
                @include opacity(1);
                visibility: visible;

                .content {
                    @include transition-prop(delay, 1.2s);
                    @include opacity(1);
                    visibility: visible;
                    top: 0;
                }
            }
        }

        @media only screen and (max-width: 1440px) {
            // @include viewport(margin-top, 80, 1440);

            > div {
                @include viewport(padding-top, 100, 1440);
                background-size: cover;
            }
        }

        @media only screen and (max-width: 960px) {
            > div {
                height: 500px;
                background-position: right 80% center;
            }
        }

        @media only screen and (max-width: 767px) {
            margin-bottom: 0;

            > div {
                height: 400px;
                padding-top: 0;
                background-position: center bottom;

                .inner {
                    @include flex();
                    @include flex-align(center);
                    position: relative;
                    // top: -160px;
                    // height: 200px;
                }
            }
        }

        .slide {
            overflow: hidden;
            padding-top: 0;

            &.active > .slide-image {
                opacity: 1;
            }

            // .inner {
            //     margin-top: 80px;

            //     @media only screen and (max-width: 767px) {
            //         margin-top: 20px;
            //     }
            // }
        }

        .slide-image {
            background: {
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            height: 100%;
            left: 50%;
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            transform-origin: bottom;
            transition: opacity 1.6s ease-in-out;
            width: 100%;

            &::before {
                background-color: rgba(255, 255, 255, 0.4);
                content: "";
                display: none;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;

                @media only screen and (max-width: 767px) {
                    display: block;
                }
            }
        }

        .inner {
            position: relative;
            top: 50%;
            transform: translate3d(0, -60%, 0);

            @media only screen and (max-width: 767px) {
                transform: translate3d(0, -50%, 0);
            }
        }
    }

    &#health-benefits {
        margin-top: -60px;
        padding: 10px 0 60px;
        overflow: hidden;

        @media only screen and (max-width: 767px) {
            margin-top: 0;
            padding: 60px 0 10px;
        }

        .health-attrs {
            margin-top: 45px;

            .health-attrs-track {
                @include flex();
                @include flex-justify(space-between);
                width: 100%;

                .a-home{
                    color: $black;
                }
    
                 > div {
                    
                    text-align: center;
                    cursor: pointer;
                    margin: 0 20px;
    
                    &:first-child {margin-left: 0;}
                    &:last-child {border-right: none; margin-right: 0;}
    
                    div {
                        width: 45px;
                        height: 45px;
                        margin: 0 auto 10px;
                        @include flex();
                        @include flex-justify(center);
                        @include flex-align(center);
                        @include transition(0.3s);
                    }
    
                    span {
                        @include transition(0.3s);
                        font-family: $heading-font-family;
                        font-size: 2em;
                        display: block;
                    }
    
                    .fill-color {@include transition(0.3s);}
    
                    &:hover {
                        span{color: $green;}
                        div {color: $green;}
                        .fill-color {fill: $green;}
                    }
                }
            }

            &.initialised {
                .health-attrs-track > div {
                    @include opacity(0);
                    position: relative;
                    left: -50px;
                }

                &.inview {
                    .health-attrs-track > div {
                        left: 0;
                        @include transition(0.7s);
                        @include opacity(1);

                        &:nth-child(1) {@include transition-prop(delay, 0s);}
                        &:nth-child(2) {@include transition-prop(delay, 0.1s);}
                        &:nth-child(3) {@include transition-prop(delay, 0.2s);}
                        &:nth-child(4) {@include transition-prop(delay, 0.3s);}
                        &:nth-child(5) {@include transition-prop(delay, 0.4s);}
                        &:nth-child(6) {@include transition-prop(delay, 0.5s);}
                        &:nth-child(7) {@include transition-prop(delay, 0.6s);}
                    }
                }
            }

            .health-attrs-ctrl {
                @include transition(0.3s);
                border-color: rgba($black, 0.6);
                border-style: solid;
                display: none;
                height: 12px;
                opacity: 0;
                position: absolute;
                top: 50%;
                visibility: hidden;
                width: 12px;
                

                &.left {
                    border-width: 2px 0 0 2px;
                    left: 0;
                    transform: translate3d(-100%, -50%, 0) rotate(-45deg);
                    z-index: 9999 !important;
                }

                &.right {
                    border-width: 2px 2px 0 0;
                    right: 0;
                    transform: translate3d(100%, -50%, 0) rotate(45deg);
                    z-index: 9998 !important;
                }
            }

            &.is-scrollable {
                position: relative;

                .health-attrs-track {
                    overflow: auto;
                    -webkit-overflow-scrolling: touch;
                    padding: 4px 0;
                }

                .health-attrs-ctrl {
                    display: block;
                }

                &:not(.is-left) {
                    .health-attrs-ctrl.left {
                        opacity: 1;
                        visibility: visible;
                        z-index: 9999 !important;
                    }
                }

                &:not(.is-right) {
                    .health-attrs-ctrl.right {
                        opacity: 1;
                        visibility: visible;
                        z-index: 9999 !important;
                    }
                }
            }
        }
    }

    &#about-us {
        margin: 0;

        .inner {
            @include flex-align(flex-start);
            flex-direction: row-reverse;
            padding: 0;
        }

        .content {
            align-self: center;
            overflow: hidden;
            padding: 0 0 0 75px;

            @media only screen and (max-width: 767px) {
                padding-top: 75px;
            }

            .display {
                @include opacity(0);
                visibility: hidden;
                height: 0;
            }

            h3 {
                display: block;
                color: $midgrey;
                cursor: pointer;
                @include transition(0.3s);
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 100%;
                    margin-right: 35px;
                    height: 1px;
                    width: 100vw;
                    background-color: $white;
                    @include transition(0.3s);
                }

                &:hover {
                    color: $green;
                    @include opacity(0.6);
                }
            }
            p {
                max-width: 480px;
                padding-right: 20px;
            }

            .block {
                clear: both;
                margin-top: 40px;

                &:first-child {
                    margin-top: 0;
                }

                &.active {
                    .display {
                        @include opacity(1);
                        visibility: visible;
                        height: auto;
                        @include transition(0.6s);
                    }
                    h3 {
                        color: $green;

                        &:before {
                            background-color: $green;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 1080px) {
            .content {
                width: calc(100% - 320px);

                .block {
                    padding: 0 40px;

                    h3 {
                        font-size: 3em;
                    }
                }
            }
        }

        @media only screen and (max-width: 767px) {
            margin: -60px 0 0;

            .inner {
                flex-direction: column;
            }

            .visual {
                margin: 0 -30px;
                width: calc(100% + 60px);
                max-height: 300px;

                .entrance {
                    max-height: 300px;
                }

                img {
                    width: 100%;

                }
            }

            .content {
                width: 100%;

                h3 {
                    display: block;
                    color: $midgrey;
                    position: relative;
                    cursor: pointer;
                    @include transition(0.3s);

                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 50px;
                        height: 1px;
                        display: none;
                        background-color: $green;
                    }

                    &:hover {
                        color: $green;
                        @include opacity(0.6);
                    }
                }

                .btn {margin-top: 0;}

                .blocks {
                    padding: 30px 0;

                    @media only screen and (max-width: 767px) {
                        padding: 50px 0 30px;
                    }
                }

                .block {
                    padding: 0;
                    display: block;

                    > *:not(:first-child) {
                        display: none;
                    }

                    &.active {
                        h3 {
                            color: $green;
        
                            &:after {
                                display: block;
                            }
                        }

                        > *:not(h3) {
                            display: table;
                        }
                    }
                }
            }
        }

        .js-parallax-image-inner {
            min-height: 300px;
        }
    }

    &#nature {
        position: relative;
        height: 780px;
        overflow: hidden;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background: url(../images/homepage/background-homepage.jpg) no-repeat center / cover;
            transform-origin: left;

            // div {
            //     background: url(../images/homepage/video-bg.jpg) no-repeat center / cover;
            //     height: 0;
            //     padding-bottom: 56.25%;
            //     position: relative;
            //     margin-top: -13%;
            // }

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .layer {
            background-color: rgba(54, 54, 53, 0.2);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .inner {
            height: 780px;
            @include flex();
            @include flex-align(center);
        }

        .content {
            position: relative;
            z-index: 1;
            margin: 0 0 0 auto;
            max-width: 50%;
            padding-left: 150px;

            @media only screen and (max-width: 980px) {
                max-width: 100%;
                padding-left: 0;
            }

            h3, p {
                color: $white;
            }

            h3 {
                max-width: 300px;
                font-size: 3em;
            }
        }

        @media only screen and (max-width: 1800px) {
            @include viewport(height, 780, 1800);

            .inner {
                @include viewport(height, 780, 1800);
            }
        }

        @media only screen and (max-width: 980px) {
            height: 425px;

            .bg {
                div {
                    margin-top: 0;
                    padding: 0;
                    height: 100%;
                }

                iframe {
                    height: 553px;
                    width: 980px;
                    left: 50%;
                    top: auto;
                    bottom: 0;
                    transform: translateX(-50%);
                }
            }

            .inner {height: 425px;}
        }
    }

    &#social {
        overflow: visible;
        position: relative;
        z-index: 1;

        .visual {
            align-self: flex-start;
            margin-top: -40px;
        }

        .icons {
            margin-bottom: 20px;

            a {
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-left: -5px;
                margin-right: 10px;
                font-size: 2em;
            }
        }

        p {
            text-transform: uppercase;

            a {font-weight: 500;}
        }

        @media only screen and (max-width: 1600px) {
            .content {padding: 40px 0 40px 7vw;}
            .visual {
                img {
                    width: 30vw;
                    
                }
            }
        }

        @media only screen and (max-width: 767px) {
            .inner {
                display: block;
            }

            .visual {
                width: 100%;
                justify-content: center;
                img {
                    width: 45vw;
                    height: 45vw;
                    
                }
            }

            .content {
                padding-top: 60px;
                padding-left: 0;
                width: 100%;
                max-width: 320px;
            }
        }
        
    }
}

html.mobile {
    section#nature iframe {@include opacity(0);}
}

.home .content-block {
    overflow: visible;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;

    @media only screen and (max-width: 767px) {
        padding-top: 0;
        z-index: 1;
    }

    &.v-left {
        .visual {
            justify-content: flex-start;
            flex-direction: row-reverse;
            img{
                @media screen and (max-width: 767px){
                    transform: translate(-20%,0%);
                }
            }
        }
    }

    &.m-over div.content {
        @media only screen and (max-width: 767px) {
            padding: 70px 0;
        }
    }

    &.m-over div.visual {
        &::after {
            display: none;
        }

        .js-parallax-image-inner {
            &::after {
                @media only screen and (max-width: 767px) {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 200%;
                    background-color: rgba(0,0,0,0.3);
                }
            }
        }

        img {
            position: static;

            @media only screen and (max-width: 767px) {
                max-width: 150%;
            }
        }
    }
}

.content-block-image {
    position: relative;
    z-index: 10;

    @media only screen and (max-width: 767px) {
        overflow: hidden;
    }

    &.content-block-image--offset-pos {
        top: 100px;
    }
}

.js-parallax-image-inner {
    overflow: hidden;
    position: relative;

    img {
        transform-origin: bottom;
    }
}
